<aside
  id='aside'
  class='closed-sidebar z-30 absolute top-0 h-screen w-[80vw] transition-all'
>
  <header class='h-8 flex justify-between items-center'>
    <h2>Subjects</h2>
    <button id='btn-close-sidebar' class='px-3 h-full'>Close</button>
  </header>
  <nav class='mt-5'>
    <ul class='flex flex-col gap-y-2'>
      <li><a href='#'>What is Node.js</a></li>
      <li><a href='#'>Modules</a></li>
      <li><a href='#'>Modules</a></li>
      <li><a href='#'>Modules</a></li>
      <li><a href='#'>Modules</a></li>
    </ul>
  </nav>
</aside>

<style>
  .closed-sidebar {
    width: 0;
  }

  .closed-sidebar *:not(#btn-close-sidebar) {
    transform: translateX(-1000px);
  }
</style>

<script>
  const aside = document.querySelector('#aside');
  const btnCloseSidebar = document.querySelector('#btn-close-sidebar');

  btnCloseSidebar.addEventListener('click', () => {
    aside.classList.toggle('closed-sidebar');
  });
</script>
