---
import Navbar from '../components/Navbar.astro';
import Sidebar from '../components/Sidebar.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Node Concepts</title>
  </head>
  <body>
    <Navbar />
    <Sidebar />
    <slot />
  </body>
</html>
<style is:global>
  * {
    /* outline: 1px solid red; */
  }
</style>

<script>
  const btnOpenSidebar = document.querySelector('#btn-open-sidebar');
  const aside = document.querySelector('#aside');

  btnOpenSidebar.addEventListener('click', () => {
    aside.classList.toggle('closed-sidebar');
  });
</script>
